<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>Bookstore Admin Portal</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link rel="icon" th:href="@{/image/apple-touch-icon.png}" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42;"></div>
		<nav
			class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
			<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Book </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/book/add}">Add a new book</a>
							<a class="dropdown-item" th:href="@{/book/bookList}">View book
								list</a>
						</div></li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div th:fragment="body-bottom-scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script src="https://use.fontawesome.com/6641a257d9.js"></script>
		<script th:src="@{/js/tinymce/tinymce.min.js}"></script>
		<script th:src="@{/js/tinymce/jquery.tinymce.min.js}"></script>
 		<script>tinymce.init({
 			selector:'textarea',
 			plugins: 'code link image media insertdatetime'
 			});</script>
	</div>
</body>
</html>