body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.box {
	border: 1px solid red;
	padding: 20px;
}

.card-border {
	border: solid #f7f7f9;
	padding: 20px;
}

hr {
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}

.home-headline {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 13px;
}

.home-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}

.section-headline {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}

.section-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}

.form-padding {
	padding: 0 1em;
}